{
    "database" : {
        "username": "user",
        "password": "pass",
        "port": "27017",
        "uri": "127.0.0.1",
        "db": "database"
    },
    "server":{
        "port": "3000",
        "accessToken": "123secure"
    }
}